DOORAY_API_KEY=
DOORAY_BASE_URL=
DOORAY_WEB_HOST=nhnent.dooray.com
DOORAY_PROJECT_ID=
# post_id/page_id만으로 프로젝트를 찾을 때 검색 우선순위 (쉼표 구분, __PRIVATE__=개인 프로젝트)
DOORAY_PRIORITY_PROJECT_CODES=웹보드개발랩-전체공유,한게임포커통합-업데이트관리,__PRIVATE__,포커클래식-QA,pc포커-bts
